.message-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  // &:not(:last-of-type) {
  //   margin-bottom: 1rem;
  // }

  &.own {
    justify-content: flex-end;
  }
}

.message {
  border: 1px solid gray;
  border-radius: 1rem 1rem 1rem 0;
  overflow-wrap: break-word;
  width: max-content;
  max-width: clamp(200px, 70vw, 400px);

  &.own {
    border-radius: 1rem 1rem 0 1rem;
  }
}

.time {
  color: #7b7b82;
  font-size: 8px;
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem 0.6rem 0.1rem 1rem;
}

.message-content {
  padding: 0.5rem 1rem 0.1rem 1rem;
}

.date-separator-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .date-separator {
    border: 0.1px solid #827575;
    border-radius: 10px;
    padding: 0.3rem;
    background-color: #4a4a4a;
    font-size: 12px;
    width: max-content;
    margin: 1rem;
  }
}
