@use "../../../sass_vars/global-vars" as *;

.new-post {
  @include post-style;
  display: block;
}

#new-post-input {
  display: flex;
  align-items: center;

  img {
    @include image-styling($width: 50px, $height: 50px);
    margin-right: 0.5rem;
  }

  @include input-style;
}

.new-post-send-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: center;
}

.tag-drop-down {
  position: absolute;
  margin-left: 3rem;
  background-color: $post-bg-color;
  border-radius: $post-border-radius;
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid $post-border-color;
  z-index: 999;

  ul {
    background-color: $post-bg-color;
  }

  li {
    list-style: none;
    padding: 1rem 1.5rem;
    color: $button-text-color;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $post-border-color;
    }
  }

  .show {
    display: block;
  }
}

#tagged-users {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin: 0.5rem 0 0 0;
}

#tagged-user {
  display: flex;
  align-items: center;
  background-color: #7a7b7a;
  padding: 0.3rem;
  border-radius: 7px;
}

#clear-icon {
  font-size: 20px;
  cursor: pointer;
}
