@use "../../sass_vars/global-vars.scss" as *;

.search-results {
  @include post-border-margin-padding;
  margin: 1rem 0;
  padding: 1rem;
  height: max-content;

  .search-input {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    appearance: none;
    border: none;
    border-radius: 30px;
    background-color: $input-bg-color;
    color: white;
    width: 100%;
    outline: none;
  }
}
